body {
  margin: 0;
  /* width: 100%;*/
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Open Sans", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Open Sans", sans-serif;
  background: rgb(39, 37, 37);
  /* background-repeat: no-repeat;
  background-size: cover; */
  color: whitesmoke;
  border: 4px solid rgb(235, 200, 135);
}
/*color:#FF00FF; colorpicker.com
	color:rgb(255,0,255);
	color:rgba(255,0,255,.7); just like rgb with an alpha(transperency)
	ranges from 0.0 to 1.0
  hexadecimal #RRGGBB*/
/*font-size:2.0em relative size to the parent element
font-weight:400, bold or 100-800 can be set as value*/
/*border:width color style*/
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
